<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/icon.png" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/blog-detail.css">
    <title>Blogs</title>
</head>
<body>
    <%- include("./partials/navbar")  %> 
    <%- include('./partials/loading') %>
    <script>
            document.getElementById('loading').style.display = 'flex';
            // Hide the loading screen when the page is fully loaded
            window.onload = function() {
            document.getElementById('loading').style.display = 'none';
            }
    </script>
    <div class="blog-article">
        <div class="image">
            <img src="/images/<%- blog.image %>" alt="image">
        </div>
        <div class="blog-title">
            <%= blog.title %>   
        </div>
        <div class="date">
            <%= blog.date.toLocaleDateString('en-US', { month: 'long', day: 'numeric', weekday: 'long' }) %> 
        </div>
        <div class="blog-content">
            <%- blog.content %>
        </div>
        <div class="comments">
            <div class="comment">
                <div class="com-name">Commenter's name</div>
                <div class="com-content">
                    Lorem ipsum dolor, 
                    sit amet consectetur adipisicing elit. 
                    Repudiandae ab maxime veritatis labore eveniet.
                </div>
                <div class="com-date">09/01/2023</div>
            </div>
        </div>
        <div class="com-form">
            <form action="">
                <div class="com-form-title">Leave a Comment</div>
                <p>Name Here:</p>
                <input type="text" name="com-name" id="cname">
                <p>Comment:</p>
                <textarea name="com-content" id="ccontent" cols="30" rows="10"></textarea>
                <button>Comment</button>
            </form>
        </div>
    </div>
    <%- include("./partials/footer") %>
</body>
<style>
    
/*-----------------------------Top BLock-----------------*/
.blog {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.blogs-block {
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blogs-block .title {
    font-size: 28px;
    margin-bottom: 10px;
    width: 100%;
    text-align: start;
}
.blog-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 5px;
    align-items: flex-start;  
    padding: 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    
}

.blog-card {
    background: #060a4a;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0px;
    margin: 0 10px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}
.blog-card .image img {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    width: 300px;
    height: 200px;
    align-self: center;
}
.blog-card .image {
    overflow: hidden;
}
.over {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.over .text {
    overflow-x: hidden;
    margin: 5px 10px;
}
.over .ico {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}
.like {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.like img {
    width: 20px;
    height: 20px;
}
.add {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
/*----------------------Daily Quote-----------------------*/
.quote {
    margin-top:  30px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("./images/quote.jpg") no-repeat;
    
    background-size: cover;
}
.quote .title {
    font-size: 28px;
    margin-top: 30px;
    width: 80%;
    text-align: start;
    margin-bottom: 30px;

}
.q-card {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #02041E;

}
.q-card p {
    width: 40%;
    padding: 10px;
    text-align: center;
    margin-left: 30px;
    font-size: 20px;
}
.q-card img {
    width: 250px;
    margin: 10px;
}

/*-----------------------------------Blog--------------------*/

.sug {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 30px;
    justify-content: center;
    padding-bottom: 50px;
    background: url("./images/write.jpg") no-repeat;
    background-size: cover;
}
.sug .box .title {
    font-size: 28px;
    text-align: center;
}
.sug .box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form input,form textarea {
    font-size: 18px;
    width: 100%;
    outline: none;
    padding: 10px;
    font-weight: 500;
}
form input{
    border: none;
    color: #fff;
    background: rgba(255, 255, 255, 0);
    border-bottom: 2px solid #00DAE8;
}
form button {
    margin-top: 20px;
    padding: 10px;
    font-weight: 500;
    background: #00DAE8;
    cursor: pointer;
}

/*----------------------------Responsiveness-------------------------*/

@media screen and (max-width: 700px) {
    .q-card {
        flex-direction: column;
        height: auto;
    }
    .q-card p {
        margin: 0;
    }
    .quote {
        height: auto;
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 700px) {
    .box form {
        width: 80%;
    }
    .q-card p {
        width: 90%;
    }
}

</style>