<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="/images/icon.png" >
    <link rel="stylesheet" href="style-blog.css">
    <script src="./navbar.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>

</head>
<body>
    <%- include("./partials/navbar") %>
    <div class="blog">
        <div class="blogs-block">
            <div class="title">Top</div>
            <div class="blog-cards">
                <% for(let i = 0; i < blog.length ; i++) { %> 
                <a class="blog-card" href="/blog/<%=blog[i].bid %>">
                    <div class="image"><img src="./images/<%- blog[i].image  %>" alt="image"></div>
                    <div class="over">
                        <div class="text">
                            <%= blog[i].title  %> 
                        </div>
                        <div class="ico">
                            <div class="like"><img src="./images/like.png" alt="like"><p>10</p></div>
                        </div>
                    </div>
                </a>
                <% } %> 
            </div>
        </div>
        <div class="quote">
            <div class="title">Daily Quote</div>
            <div class="q-card">
                <p>“You can’t connect the dots looking forward; 
                    you can only connect them looking 
                    backwards. So you have to trust 
                    that the dots will somehow connect in
                    your future.”
                </p>
                <img src="./images/img2.png" alt="man">
            </div>
        </div>
        <div class="blogs-block">
            <div class="title">Recommended</div>
            <div class="blog-cards">
                <% for(let i = 0; i < blog.length ; i++) { %> 
                <div class="blog-card">
                    <div class="image"><img src="./images/img1.jpg" alt="image"></div>
                    <div class="over">
                        <div class="text">
                            <%= blog[i].title  %> 
                        </div>
                        <div class="ico">
                            <div class="like"><img src="./images/like.png" alt="like"><p>10</p></div>
                        </div>
                    </div>
                </div>
                <% } %> 
            </div>
        </div>
        <div class="sug">
            <div class="box">
                <div class="title">Want us to blog about Something? Write to us.</div>
                <form action="">
                    <p>Topic</p>
                    <input type="topic" name="topic" id="topic">
                    <p>Description</p>
                    <textarea name="text" id="txt" cols="60" rows="10"></textarea>
                    <button>SEND</button>
                </form>
            </div>
        </div>
    </div>
    <%- include("./partials/footer") %>
</body>
</html>