<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="/images/icon.png" >
    <link rel="stylesheet" href="style-blog.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>

</head>
<body>
    <%- include("./partials/navbar") %>
    <%- include('./partials/loading') %>

    <div id="pp">
        <p>Like the Content? Donate For More.</p>
        <button>Donate</button>
        <b onclick="rehide()">Not Today</b>
    </div>
    <div class="blog">
        
        <div class="blogs-block">
            <div class="tblog-cards fade">
                <% for(let i = 0; i < blog.length ; i++) { %> 
                <div class="tblog-card" href="/blog/<%=blog[i].bid %>">
                    <a class="timage" href="/blog/<%=blog[i].bid %>" ><img src="/image/<%- blog[i].image  %>" alt="image"></a>
                    <div class="tover">
                        <div class="ttext">
                            <%= blog[i].title  %> 
                        </div>
                        <!-- <div class="ico">
                            <div class="like"><div class="l" onclick="myFunction(this)"></div><p>10</p></div>
                        </div> -->
                    </div>
                </div>
                <% } %> 
            </div>
        </div>
        <div class="quote">
            <div class="title">Daily Quote</div>
            <div class="q-card">
                <p>“You can’t connect the dots looking forward; 
                    you can only connect them looking 
                    backwards. So you have to trust 
                    that the dots will somehow connect in
                    your future.”
                </p>
                <img src="./images/img2.png" alt="man">
            </div>
        </div>
        <div class="blogs-block">
            <div class="title">Top</div>
            <div class="blog-cards">
                <% for(let i = 0; i < blog.length ; i++) { %> 
                <div class="blog-card" href="/blog/<%=blog[i].bid %>">
                    <a class="image" href="/blog/<%=blog[i].bid %>" ><img src="/image/<%- blog[i].image  %>" alt="image"></a>
                    <div class="over">
                        <div class="text">
                            <%= blog[i].title  %> 
                        </div>
                        <div class="ico">
                            <div class="like"><div class="l" onclick="myFunction(this)"></div><p>10</p></div>
                        </div>
                    </div>
                </div>
                <% } %> 
            </div>
        </div>
        <div class="sug">
            <div class="box">
                <div class="title">Want us to blog about Something? Write to us.</div>
                <form action="">
                    <p>Topic</p>
                    <input type="topic" name="topic" id="topic">
                    <p>Description</p>
                    <textarea name="text" id="txt" cols="60" rows="10"></textarea>
                    <button>SEND</button>
                </form>
            </div>
        </div>
    </div>
    <%- include("./partials/footer") %>
    <!-- Slideshow Animation  -->
    <script> 
        let slideIndex = 0;
        showSlides();
        function showSlides() {
        let i;
        let slides = document.getElementsByClassName("tblog-card");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        slides[slideIndex-1].style.display = "flex";
        setTimeout(showSlides, 6000); 
        }
    </script>
    <!-- Loading Animation  -->
    <script>
        document.getElementById('loading').style.display = 'flex';
        // Hide the loading screen when the page is fully loaded
        window.onload = function() {
        document.getElementById('loading').style.display = 'none';
        }
    </script>
    <!-- Like and pop up -->
    <script>
        function myFunction(x) {
            x.classList.toggle("l1");
          }
        setTimeout(function(){
            document.getElementById("pp").style.display = "flex"
          },75000); 
        function rehide() {
            document.getElementById("pp").style.display = "none"
          }
    </script>
</body>
</html>