<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/icon.png" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/blog-detail.css">
    <title>Blogs</title>
</head>
<body>
    <%- include("./partials/navbar")  %> 
    <%- include('./partials/loading') %>
    <script>
            document.getElementById('loading').style.display = 'flex';
            // Hide the loading screen when the page is fully loaded
            window.onload = function() {
            document.getElementById('loading').style.display = 'none';
            }
    </script>
    <div class="blog-article">
        <div class="image">
            <img src="/images/<%- blog.image %>" alt="image">
        </div>
        <div class="blog-title">
            <%= blog.title %>   
        </div>
        <div class="date">
            <%= blog.date.toLocaleDateString('en-US', { month: 'long', day: 'numeric', weekday: 'long' }) %> 
        </div>
        <div class="blog-content">
            <%- blog.content %>
        </div>
        <div class="comments">
            <div class="comment">
                <div class="com-name">Commenter's name</div>
                <div class="com-content">
                    Lorem ipsum dolor, 
                    sit amet consectetur adipisicing elit. 
                    Repudiandae ab maxime veritatis labore eveniet.
                </div>
                <div class="com-date">09/01/2023</div>
            </div>
        </div>
        <div class="com-form">
            <form action="">
                <div class="com-form-title">Leave a Comment</div>
                <p>Name Here:</p>
                <input type="text" name="com-name" id="cname">
                <p>Comment:</p>
                <textarea name="com-content" id="ccontent" cols="30" rows="10"></textarea>
                <button>Comment</button>
            </form>
        </div>
    </div>
    <%- include("./partials/footer") %>
</body>